
nav {
  color: whitesmoke;
  background-color: #20232a;
  align-items: center;
  height: 70px;
  display: flex;
  padding: 10px 10px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.nav-img {
  width: 80px;
}

nav, main {
  min-width: 300px;
}

.delete-btn {
  background: none;
  border: none;
}